<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 성공</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 100px;
            max-width: 500px;
            text-align: center;
        }

        .btn-home {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 th:text="${message}"></h2>
    <a th:href="@{/home}" class="btn btn-primary btn-home">홈으로</a>
</div>
</body>
</html>
